@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<About>
@{
	Layout = "Master.cshtml";
}

<!-- About Section Begin -->
<section class="about spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="about__pic">
                    <img src="@Model.MainImage.Url()" alt="">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12" style="text-align: center">
                <div class="about__item">
                    <h4>Hvem Er Vi?</h4>
                    <p>@Model.MainContent</p>
                </div>
        </div>
    </div>
</section>
<!-- About Section End -->

<!-- Testimonial Section Begin -->
<section class="testimonial">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-6 p-0">
                <div class="testimonial__text">
                    <span class="icon_quotations"></span>
                    <p>@Model.Quote</p>
                    <div class="testimonial__author">
                        <div class="testimonial__author__pic">
                            <img src="@Model.AuthorImage.Url()" alt="">
                        </div>
                        <div class="testimonial__author__text">
                            <h5>@Model.Author</h5>
                            <p>@Model.JobTitle</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 p-0">
                <div class="testimonial__pic set-bg" data-setbg="img/about/testimonial-pic.jpg"></div>
            </div>
        </div>
    </div>
</section>
<!-- Testimonial Section End -->

<!-- Team Section Begin -->
<section class="team spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="section-title">
                    <span>@Model.TeamTitle</span>
                    <h2>@Model.TeamSubtitle</h2>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="team__item">
                    <img class="team-img" src="@Model.Member1Image.Url()" alt="">
                    <h4>@Model.Member1Name</h4>
                    <span>@Model.Member1Position</span>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="team__item">
                    <img class="team-img" src="@Model.Member2Image.Url()" alt="">
                    <h4>@Model.Member2Name</h4>
                    <span>@Model.Member2Position</span>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="team__item">
                    <img class="team-img" src="@Model.Member3Image.Url()" alt="">
                    <h4>@Model.Member3Name</h4>
                    <span>@Model.Member3Position</span>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Team Section End -->
