@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<Contact>
@{
	Layout = "Master.cshtml";
}

<!-- Map Begin -->
<div class="map">
    <iframe src="https://www.google.com/maps/embed/v1/place?q=place_id:ChIJLSXOyRlTUkYRWqpRIbqTd9s&key=AIzaSyDtbsPlKr_NxeFU8XzwYwOy5b1kLSRJwAE" height="500" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
</div>
<!-- Map End -->

<!-- Contact Section Begin -->
<section class="contact spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-6">
                <div class="contact__text">
                    <div class="section-title">
                        <h2>@Model.Title</h2>
                        <p>@Model.MainContent</p>
                    </div>
                    <ul>
                        <li>
                            <h4>@Model.Country</h4>
                            <p>@Model.CompanyName</p>
                            <p>@Model.Address</p>
                            <p>@Model.PhoneNumber</p>
                            <p>@Model.Email</p>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-6 col-md-6">
                <div class="contact__form">
                    <form action="#">
                        <div class="row">
                            <div class="col-lg-6">
                                <input type="text" placeholder="Navn">
                            </div>
                            <div class="col-lg-6">
                                <input type="text" placeholder="E-mail">
                            </div>
                            <div class="col-lg-12">
                                <textarea placeholder="Besked"></textarea>
                                <button type="submit" class="site-btn">Send Besked</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Contact Section End -->