@model IEnumerable<CrazyToys.Entities.DTOs.OrderDTOs.AdminOrderListDTO> <!--TODO lav denne model-->

@{
    ViewData["Title"] = "Billeder";
}

<h2>Billeder</h2>

<p>
    <a asp-action="Create">Opret ny</a>
</p>
<div class="container max-width-100 dbimages">
    <div class="row">
         @foreach (var item in Model)
            {
                <div class="col col-md-2 dbimg">
                    <img src="@Html.DisplayFor(modelItem => item.OrderNumber)" alt=""/>
                    <img class="mouse-over" src="@Html.DisplayFor(modelItem => item.ImagePath)" alt=""/>
                    <div>
                         <a asp-action="Details" asp-route-id="@item.Id">Detaljer</a> |
                         <a asp-action="Delete" asp-route-id="@item.Id">Slet</a>
                    </div>
                   
                    <p>@item.FileName</p>
                    <p>
                        @foreach (var tag in item.ImageTags)
                        {
                            @Html.DisplayFor(x => tag.Tag.Name)
                            @Html.Raw(", ")
                        }
                    </p>
                </div>
            }
    </div>
</div>



<table class="table">
    <thead>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ThumbPath)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FileName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ImageTags)
        </th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    @foreach (var item in Model) {
        <tr>
            <td>
                <img class="table-thumbnail" src="@Html.DisplayFor(modelItem => item.ThumbPath)" alt=""/>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FileName)
            </td>
            <td>
                @foreach (var tag in item.ImageTags)
                {
                    @Html.DisplayFor(x => tag.Tag.Name) @Html.Raw(", ")
                }
            </td>
            <td>
                <a asp-action="Details" asp-route-id="@item.Id">Detaljer</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Slet</a>
            </td>
        </tr>
    }
    </tbody>
</table>