@using CrazyToys.Entities.DTOs
@using Newtonsoft.Json
@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<ShoppingCart>
@{
    Layout = "Master.cshtml";
    List<ShoppingCartToyDTO> shoppingCartToyDTOs = ViewData["ShoppingCartToytDTOs"] as  List<ShoppingCartToyDTO>;

    double subtotal = 0.0;
    double deliveryPrice = 39;
    foreach (ShoppingCartToyDTO shoppingCartToyDTO in shoppingCartToyDTOs)
    {
        subtotal = subtotal + shoppingCartToyDTO.Price * shoppingCartToyDTO.Quantity;
    }
    if(subtotal > 499.0)
    {
        deliveryPrice = 0.0;
    }

    double total = subtotal + deliveryPrice;

    // updateCartTotalPrices(@Html.Raw(JsonConvert.SerializeObject(shoppingCartToyDTOs)))
}


<!-- Breadcrumb Section Begin -->
<section class="breadcrumb-option">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="breadcrumb__text">
                    <h4>Shopping Cart</h4>
                    <div class="breadcrumb__links">
                        <a href="/">Home</a>
                        <a href="/shop">Shop</a>
                        <span>Shopping Cart</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Breadcrumb Section End -->

<!-- Shopping Cart Section Begin -->
<section class="shopping-cart spad">
    <div class="container">
        <div class="row">
            <div id="tableWrapper" class="col-lg-8">
                @{
                    @if (shoppingCartToyDTOs.Count > 0)
                    {
                        <div id="toyTable" class="shopping__cart__table">
                            <table>
                                <thead>
                                    <tr>
                                        <th>Product</th>
                                        <th>Quantity</th>
                                        <th>Total</th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody id="toyTableBody">
                            
                                @foreach(ShoppingCartToyDTO toyDTO in shoppingCartToyDTOs){
                                    <tr id="toyDataRow-@toyDTO.ID">
                                        <td class="product__cart__item">
                                            <div class="product__cart__item__pic mouse-hover" onclick='redirect("/shop-details?id=@toyDTO.ID")'>
                                                <img class="cart-image-size" src="@toyDTO.Image" alt="@toyDTO.Name">
                                            </div>
                                            <div class="product__cart__item__text">
                                                <h6 class="text-capitalize mouse-hover" onclick='redirect("/shop-details?id=@toyDTO.ID")'>@toyDTO.Name</h6>
                                                <h5>@toyDTO.Price DKK</h5>
                                            </div>
                                        </td>
                                        <td class="quantity__item">
                                            <div class="quantity">
                                                <div class="pro-qty-2">
                                                    <span class="fa fa-angle-left dec qtybtn mouse-hover" onclick='decQuantity(@Html.Raw(JsonConvert.SerializeObject(toyDTO)))'></span>
                                                    <input id="chosenAmount-@toyDTO.ID" type="text" value="@toyDTO.Quantity">
                                                    <span class="fa fa-angle-right inc qtybtn mouse-hover" onclick='incQuantity(@Html.Raw(JsonConvert.SerializeObject(toyDTO)))'></span>
                                                </div>
                                            </div>
                                        </td>
                                        <td id="total-@toyDTO.ID" class="cart__price">@(toyDTO.Price * toyDTO.Quantity) DKK</td>
                                        <td class="cart__close" onclick='removeToyFromCart(@Html.Raw(JsonConvert.SerializeObject(toyDTO)))'><i class="fa fa-close mouse-hover"></i></td>
                                    </tr>
                                }
                             
                                </tbody>
                            </table>
                        </div>
                       }
                       else
                       {
                            <h2 class="headline">Der er intet i kurven endnu</h2>
                       }
                }
                <!--
                <div class="row">
                    <div class="col-lg-6 col-md-6 col-sm-6">
                        <div class="continue__btn">
                            <a href="#">Continue Shopping</a>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-6">
                        <div class="continue__btn update__btn">
                            <a href="./shopping-cart"><i class="fa fa-spinner"></i> Update cart</a>
                        </div>
                    </div>
                </div>
                -->
            </div>
            <div class="col-lg-4">
                <div class="cart__discount">
                    <h6>Discount codes</h6>
                    <form action="#">
                        <input type="text" placeholder="Coupon code">
                        <button type="submit">Apply</button>
                    </form>
                </div>
                <div class="cart__total">
                    <h6>Cart total</h6>
                    <ul>
                        <li>Subtotal <span id="subtotal">@subtotal DKK</span></li>
                        <li class="font-italic">Levering <span id="deliveryPrice">@(deliveryPrice < 1 ? "Gratis levering" : deliveryPrice + " DKK")</span></li>
                        <li class="font-weight-bold">Total <span id="total">@total DKK</span></li>
                    </ul>
                    <a href="#" class="primary-btn">Proceed to checkout</a>
                </div>
                <p class="font-italic text-center">Varerne er ikke reserverede før du går videre i købet</p>
            </div>
        </div>
    </div>
</section>
<!-- Shopping Cart Section End -->