@using CrazyToys.Entities.DTOs
@using CrazyToys.Entities.DTOs.FacetDTOs
@using CrazyToys.Entities.Entities
@using CrazyToys.Entities.SolrModels
@using CrazyToys.Web;
@using Newtonsoft.Json
@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<Shop>
@{
    Layout = "Master.cshtml";
    var paramsDict = ViewData["ParamsDict"] as Dictionary<string, HashSet<string>>;

    var categories = ViewData["Categories"] as Dictionary<string, int>;
    var brandDTOs = ViewData["BrandDTOs"] as List<BrandDTO>;
    var ageGroupDTOs = ViewData["AgeGroupDTOs"] as List<AgeGroupDTO>;
    var colourGroupDTOs = ViewData["ColourGroupDTOs"] as List<ColourGroupDTO>;
    var priceGroupDTOs = ViewData["PriceGroups"] as List<PriceGroupDTO>;
    var shopToyDTOs = ViewData["ShopToyDTOs"] as List<ShopToyDTO>;
    var categoryDTOs = ViewData["CategoryDTOs"] as List<CategoryDTO>;
    var numFound = (int)ViewData["NumFound"];
    var pageNumber = (int)ViewData["PageNumber"];
    var search = ViewData["Search"];
    var wishlistToys = ViewData["WishlistToys"] as HashSet<string>;

    int numberOfPages = (numFound + 30 - 1) / 30;
}

<!-- Shop Section Begin -->
<section class="shop spad">
    <div class="container">
        <div class="row">
            <h3 class="search-headline">@(search != null ? $"Resultater for \"{search}\"" : "")</h3>
        </div>
        <div class="row">
            <div class="col-lg-3">
                <div class="shop__sidebar">
                    <div class="shop__sidebar__search">

                        <input id="searchInput" type="text" placeholder="Søg..." onchange='createUrlFromParams(1, @Html.Raw(JsonConvert.SerializeObject(@paramsDict)), event)'>


                    </div>
                    <div class="shop__sidebar__accordion">
                        <div class="accordion" id="accordionExample">
                            <div class="card">
                                <div class="card-heading">
                                    <a data-toggle="collapse" data-target="#collapseOne">Kategorier</a>
                                </div>
                                <div id="collapseOne" class="collapse show" data-parent="#accordionExample">
                                    <div class="card-body">
                                        <div class="shop__sidebar__categories">
                                            <ul class="list-height">
                                                @{
                                                    foreach (var categoryDTO in categoryDTOs)
                                                    {
                                                        <li>
                                                            <a class="@(paramsDict.Count > 0 && paramsDict.ContainsKey("categories") && paramsDict["categories"].Contains(categoryDTO.Name)
                                                            ? "active-filter underline"
                                                            : "")" aria-expanded="true" data-toggle="collapse" data-target="#@categoryDTO.Name" href="javascript:void(0);" onclick='updateDictAndCreateUrl(@Html.Raw(JsonConvert.SerializeObject(@paramsDict)), "categories", "@categoryDTO.Name", )'>@categoryDTO.Name (@categoryDTO.FoundAmount)</a>

                                                            <div class="@(paramsDict.Count > 0 && paramsDict.ContainsKey("categories") && paramsDict["categories"].Contains(categoryDTO.Name)
                                                            ? ""
                                                            : "collapse")" id="@categoryDTO.Name">
                                                                <ul class="subcat-scroll nice-scroll">
                                                                    @foreach (var subCategoryDTO in categoryDTO.SubCategoryDTOs)
                                                                    {
                                                                        <li>
                                                                            <a class="@(paramsDict.Count > 0 && paramsDict.ContainsKey("subCategory") && paramsDict["subCategory"].Contains(subCategoryDTO.Name)
                                                                            ? "active-filter"
                                                                            : "") nav-link py-0" href="javascript:void(0);" onclick='updateDictAndCreateUrl(@Html.Raw(JsonConvert.SerializeObject(@paramsDict)), "subCategory", "@subCategoryDTO.Name", )'>@subCategoryDTO.Name (@subCategoryDTO.FoundAmount)</a>
                                                                        </li>
                                                                    }
                                                                </ul>
                                                            </div>
                                                        </li>
                                                    }
                                                }
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="card">
                                <div class="card-heading">
                                    <a data-toggle="collapse" data-target="#collapseTwo">Mærker</a>
                                </div>
                                <div id="collapseTwo" class="collapse show" data-parent="#accordionExample">
                                    <div class="card-body">
                                        <div class="shop__sidebar__brand">
                                            <ul id="ulBrand">
                                                @{
                                                    foreach (BrandDTO brandDTO in brandDTOs)
                                                    {
                                                        <li>
                                                            <a class="@(paramsDict.Count > 0 && paramsDict.ContainsKey("brand") && paramsDict["brand"].Contains(brandDTO.Name)
                                                        ? "active-filter"
                                                        : "")" href="javascript:void(0);" onclick='updateDictAndCreateUrl(@Html.Raw(JsonConvert.SerializeObject(@paramsDict)), "brand", "@brandDTO.Name")'>@brandDTO.Name (@brandDTO.FoundAmount)</a>
                                                        </li>
                                                    }
                                                }
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="card">
                                <div class="card-heading">
                                    <a data-toggle="collapse" data-target="#collapseThree">Filtrer Pris</a>
                                </div>
                                <div id="collapseThree" class="collapse show" data-parent="#accordionExample">
                                    <div class="card-body">
                                        <div class="shop__sidebar__price">
                                            <ul>
                                                @{
                                                    foreach (PriceGroupDTO priceGroupDTO in priceGroupDTOs)
                                                    {
                                                        <li>
                                                            <a class="@(paramsDict.Count > 0 && paramsDict.ContainsKey("priceGroup") && paramsDict["priceGroup"].Contains(priceGroupDTO.Interval)
                                                            ? "active-filter"
                                                            : "")" href="javascript:void(0);" onclick='updateDictAndCreateUrl(@Html.Raw(JsonConvert.SerializeObject(@paramsDict)), "priceGroup", "@priceGroupDTO.Interval")'>@priceGroupDTO.Interval DKK (@priceGroupDTO.FoundAmount)</a>
                                                        </li>
                                                    }
                                                }
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="card">
                                <div class="card-heading">
                                    <a data-toggle="collapse" data-target="#collapseFour">Aldersgruppe</a>
                                </div>
                                <div id="collapseFour" class="collapse show" data-parent="#accordionExample">
                                    <div class="card-body">
                                        <div class="shop__sidebar__size">
                                            @{
                                                foreach (AgeGroupDTO ageGroupDTO in ageGroupDTOs)
                                                {
                                                    <a class="@(paramsDict.Count > 0 && paramsDict.ContainsKey("ageGroupIntervals") && paramsDict["ageGroupIntervals"].Contains(ageGroupDTO.Interval)
                                                    ? "age-group-active"
                                                    : "") age-group hover" href="javascript:void(0);" onclick='updateDictAndCreateUrl(@Html.Raw(JsonConvert.SerializeObject(@paramsDict)), "ageGroupIntervals", "@ageGroupDTO.Interval")'> @ageGroupDTO.Interval</a>
                                                    <span>&nbsp;(@ageGroupDTO.FoundAmount)</span>
                                                    <br>
                                                }
                                            }
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="card">
                                <div class="colour-title card-heading">
                                    <a data-toggle="collapse" data-target="#collapseFive">Farver</a>
                                </div>
                                <div id="collapseFive" class="collapse show row" data-parent="#accordionExample">
                                    @{
                                        foreach (ColourGroupDTO colourGroupDTO in colourGroupDTOs)
                                        {
                                            <div class="col-lg-6 col-sm-12 col-md-12">
                                                <div class="card-body">
                                                    <div class="">

                                                        <a class="@(paramsDict.Count > 0 && paramsDict.ContainsKey("colourGroups") && paramsDict["colourGroups"].Contains(colourGroupDTO.Name)
                                                    ? "colour-group-filter-active"
                                                    : "") colour-group-filter" href="javascript:void(0);" onclick='updateDictAndCreateUrl(@Html.Raw(JsonConvert.SerializeObject(@paramsDict)), "colourGroups", "@colourGroupDTO.Name")' style="background: @colourGroupDTO.ColourCode"></a>
                                                        <span class="colour-group-found-amount">&nbsp;(@colourGroupDTO.FoundAmount)</span><br>
                                                    </div>
                                                </div>
                                            </div>
                                        }
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-9">
                <div class="shop__product__option">
                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-sm-6">
                            <div class="shop__product__option__left">
                                @{
                                    if (numFound > 0)
                                    {
                                        int start = pageNumber * 30 - 30 + 1;

                                        int end = pageNumber == numberOfPages
                                        ? numFound
                                        : start + 29;

                                        <p>Viser @start-@end af @numFound resultater</p>
                                    }
                                }
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6">
                            <div class="shop__product__option__right">
                                <p>Sorter efter pris:</p>
                                <select id="sorter" onchange='createUrlFromParams(@pageNumber, @Html.Raw(JsonConvert.SerializeObject(@paramsDict)))'>
                                    <option value="">Lav til Høj</option>
                                    <option value="sort=price_desc">Høj til Lav</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    @{
                        for (int j = 0; j < shopToyDTOs.Count; j++)//shopToyDTOs.Count > 29 ? 30 : shopToyDTOs.Count); j++)
                        {
                            <div class="col-lg-4 col-md-6 col-sm-6">
                                <div class="product__item">
                                    <div class="product__item__pic set-bg" data-setbg="@(shopToyDTOs[j].Image ?? shopToyDTOs[j].Name)">
                                        <a class="item-link" href="/shop-details?id=@shopToyDTOs[j].ID"></a>
                                        <ul class="product__hover">
                                            <li id="cart-il-@shopToyDTOs[j].ID"><button id="cart-btn-@shopToyDTOs[j].ID" class="shop-hover-btn" onclick='addToCart("@shopToyDTOs[j].ID")'><img id="cart-icon-@shopToyDTOs[j].ID" class="hover-icon" src="img/icon/cart.png" alt=""></button></li>
                                            @{
                                                // Vi tjekker om toy er på sessionusers wishlist allerede og sætter onclick funktion efter dette
                                                if (!wishlistToys.Contains(shopToyDTOs[j].ID))
                                                {
                                                    <li id="wishlist-il-@shopToyDTOs[j].ID"><button id="wishlist-btn-@shopToyDTOs[j].ID" class="shop-hover-btn" onclick='addToWishlist("@shopToyDTOs[j].ID")'><img id="wishlist-icon-@shopToyDTOs[j].ID" class="hover-icon" src="img/icon/heart.png" alt=""></button></li>
                                                }
                                                else
                                                {
                                                    <li id="wishlist-il-@shopToyDTOs[j].ID"><button id="wishlist-btn-@shopToyDTOs[j].ID" class="shop-hover-btn" onclick='removeFromWishlist("@shopToyDTOs[j].ID")'><img id="wishlist-icon-@shopToyDTOs[j].ID" class="hover-icon" src="img/icon/filledheart.png" alt=""></button></li>
                                                }
                                            }
                                        </ul>
                                    </div>
                                    <div class="product__item__text remove-opacity">
                                        <h6>@shopToyDTOs[j].Name</h6>
                                        <h5>@shopToyDTOs[j].Price DKK</h5>
                                    </div>
                                </div>
                            </div>
                        }
                    }
                </div>
                <div class="row">
                    <div class="col-lg-12">
                        <div class="product__pagination">
                            @{
                                if (numFound > 0)
                                {
                                    HashSet<int> pagesToShow = new HashSet<int>();

                                    pagesToShow.Add(1);
                                    pagesToShow.Add(numberOfPages);
                                    pagesToShow.Add(pageNumber);
                                    pagesToShow.Add(pageNumber + 1);
                                    pagesToShow.Add(pageNumber + 2);
                                    pagesToShow.Add(pageNumber - 1);
                                    pagesToShow.Add(pageNumber - 2);

                                    if (pageNumber - 3 == 2)
                                    {
                                        pagesToShow.Add(2);
                                    }

                                    if (numberOfPages - 4 == pageNumber)
                                    {
                                        pagesToShow.Add(numberOfPages - 1);
                                    }

                                    int surroundingNumbersStart = pageNumber - 2;
                                    int surroundingNumbersEnd = pageNumber + 2;

                                    // skal der være dotter før eller efter?
                                    bool addDotsBefore = surroundingNumbersStart > 3; // hvis vi vil have at den ikke viser et enkelt tal som ... >=
                                    bool dotsAddedBefore = false;
                                    bool addDotsAfter = numberOfPages - 2 > surroundingNumbersEnd; // hvis vi vil have at den ikke viser et enkelt tal som ... >=
                                    bool dotsAddedAfter = false;

                                    for (int i = 1; i <= numberOfPages; i++)
                                    {
                                        // hvis vi står på denne side: tilføj class="active", så man kan se det
                                        if (pageNumber == i)
                                        {
                                            <a id="activePage" class="active" href="javascript:void(0);" onclick='createUrlFromParams(@i, @Html.Raw(JsonConvert.SerializeObject(@paramsDict)))'>@i</a>
                                        }
                                        else if (pagesToShow.Contains(i))
                                        {
                                            <a href="javascript:void(0);" onclick='createUrlFromParams(@i, @Html.Raw(JsonConvert.SerializeObject(@paramsDict)))'>@i</a>
                                        }
                                        else // så skal der tilføjes dutter
                                        {
                                            if (addDotsBefore && !dotsAddedBefore && i < surroundingNumbersStart)
                                            {
                                                <a>...</a>
                                                dotsAddedBefore = true;
                                            }
                                            else if (addDotsAfter && !dotsAddedAfter && i > surroundingNumbersEnd)
                                            {
                                                <a>...</a>
                                                dotsAddedAfter = true;
                                            }
                                        }
                                    }
                                }
                                else
                                {
                                    <div>Der er ikke noget legetøj der matcher søgekriterierne</div>
                                }
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Shop Section End -->
