@using CrazyToys.Entities.DTOs
@using Newtonsoft.Json
@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<ShoppingCart>
@{
    Layout = "Master.cshtml";
    List<ShoppingCartToyDTO> shoppingCartToyDTOs = ViewData["ShoppingCartToytDTOs"] as  List<ShoppingCartToyDTO>;

    // dette bliver regnet ud længere nede
    double subtotal = 0.0;
    double deliveryPrice = 39;
    double total = 0;

    Dictionary<ShoppingCartToyDTO, int> unavailableToys = new  Dictionary<ShoppingCartToyDTO, int>();
}

@functions{

    void RenderAvailableToy(ShoppingCartToyDTO toyDTO, int quantity)
    {
          <tr id="toyDataRow-@toyDTO.ID">
            <td class="product__cart__item">
                <div class="product__cart__item__pic mouse-hover" onclick='redirect("/shop-details?id=@toyDTO.ID")'>
                    <img class="cart-image-size" src="@toyDTO.Image" alt="@toyDTO.Name">
                </div>
                <div class="product__cart__item__text">
                    <h6 class="text-capitalize mouse-hover" onclick='redirect("/shop-details?id=@toyDTO.ID")'>@toyDTO.Name</h6>
                    <h5>@toyDTO.Price DKK</h5>
                </div>
            </td>
            <td class="quantity__item">
                <div class="quantity">
                    <div class="pro-qty-2">
                        <span class="fa fa-angle-left dec qtybtn mouse-hover" onclick='decQuantity("@toyDTO.ID", @toyDTO.Stock, @toyDTO.Price)'></span>
                        <input id="chosenAmount-@toyDTO.ID" type="text" value="@quantity">
                        <span class="fa fa-angle-right inc qtybtn mouse-hover" onclick='incQuantity("@toyDTO.ID", @toyDTO.Stock, @toyDTO.Price)'></span>
                    </div>
                </div>
            </td>
            <td id="total-@toyDTO.ID" class="cart__price">@(toyDTO.Price * quantity) DKK</td>
            <td class="cart__close" onclick='removeToyFromCart("@toyDTO.ID", @toyDTO.Stock, @toyDTO.Price)'><i class="fa fa-close mouse-hover"></i></td>
        </tr>
    }

            /* TODO lav anden onclick som ikke opdaterer cart total (men stadig alt det andet!!)*/

    void RenderUnavailableToy(ShoppingCartToyDTO toyDTO, int unavailableAmount)
    {
        // TODO lav denne
          <tr id="unavailableToyDataRow-@toyDTO.ID">
            <td class="product__cart__item grey-out">
                <div class="product__cart__item__pic">
                    <img class="cart-image-size grey-out" src="@toyDTO.Image" alt="@toyDTO.Name">
                </div>
                <div class="product__cart__item__text">
                    <h6 class="text-capitalize">@toyDTO.Name</h6>
                    <h5>@toyDTO.Price DKK</h5>
                </div>
                    <!-- dette giver bare ekstra space så slet-knappen sidder ligesom på dem der er available-->
                    <td class="quantity__item"></td>
                    <td class="cart__price"></td>

            <td class="cart__close" onclick='removeUnavailbleToyFromCart("@toyDTO.ID", @(toyDTO.Quantity - unavailableAmount))'><i class="fa fa-close mouse-hover"></i></td>
        </tr>
    }

}


<!-- Breadcrumb Section Begin -->
<section class="breadcrumb-option">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="breadcrumb__text">
                    <h4>Indkøbskurv</h4>
                    <div class="breadcrumb__links">
                        <a href="/">Forside</a>
                        <a href="/shop">Butik</a>
                        <span>Indkøbskurv</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Breadcrumb Section End -->

<!-- Shopping Cart Section Begin -->
<section class="shopping-cart spad">
    <div class="container">
        <div class="row">
            <div id="tableWrapper" class="col-lg-8">
                @{
                    @if (shoppingCartToyDTOs.Count > 0)
                    {
                        <div id="toyTable" class="shopping__cart__table">
                            <table>
                               <thead id="tHead">
                                    <h3>Dine varer</h3>
                                    <br/>
                                    <tr>
                                        <th>Produkt</th>
                                        <th>Antal</th>
                                        <th>Total</th>
                                        <th></th>
                                    </tr>
                               </thead>
                                <tbody id="toyTableBody">
                                @foreach(ShoppingCartToyDTO toyDTO in shoppingCartToyDTOs){

                                    toyDTO.Stock = 2;
                                    toyDTO.Quantity = 3;

                                    if(toyDTO.Stock == 0)
                                    {
                                        unavailableToys.Add(toyDTO, toyDTO.Quantity);
                                    }
                                    else if(toyDTO.Stock >= toyDTO.Quantity)
                                    {
                                        subtotal += toyDTO.Price * toyDTO.Quantity;
                                        RenderAvailableToy(toyDTO, toyDTO.Quantity);
                                    }
                                    else // Stock > 0 && Quantity > Stock
                                    {
                                        subtotal += toyDTO.Price * toyDTO.Stock;
                                        RenderAvailableToy(toyDTO, toyDTO.Stock);
                                        unavailableToys.Add(toyDTO, toyDTO.Quantity - toyDTO.Stock);
                                    }
                                }
                                </tbody>
                            </table>
                        </div>
                    }
                    else
                    {
                        <h2 class="headline">Der er intet i kurven endnu</h2>
                    }
                    
                    if(subtotal > 499.0)
                    {
                        deliveryPrice = 0.0;
                    }
                    total = subtotal + deliveryPrice;

                    @if (unavailableToys.Count > 0)
                    {
                        <div id="unavailableToyTable" class="shopping__cart__table">
                            <table>
                               <thead>
                                    <h3>Ikke tilgængelig</h3>
                               </thead>
                                <tbody id="unavailableToyTableBody">
                                   @if(unavailableToys.Count > 0)
                                   {
                                        @foreach(var entry in unavailableToys)
                                        {
                                            RenderUnavailableToy(entry.Key, entry.Value);
                                        }
                                   }

                                </tbody>
                            </table>
                        </div>
                    }
                }
                
                <!--
                <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-6">
                <div class="continue__btn">
                <a href="#">Continue Shopping</a>
                </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6">
                <div class="continue__btn update__btn">
                <a href="./shopping-cart"><i class="fa fa-spinner"></i> Update cart</a>
                </div>
                </div>
                </div>
                -->
            </div>
            <div class="col-lg-4">
                <!--
                <div class="cart__discount">
                <h6>Rabatkode</h6>
                <form action="#">
                <input type="text" placeholder="Rabatkode">
                <button type="submit">Indløs</button>
                </form>
                </div>
                -->
              
                <div class="cart__total">
                    <h6>Pris i alt</h6>
                    <ul>
                        <li>Subtotal <span id="subtotal" class="font-weight-normal black">@subtotal DKK</span></li>
                        <li class="font-italic">Levering <span id="deliveryPrice" class="font-weight-normal black">@(deliveryPrice < 1 ? "Gratis levering" : deliveryPrice + " DKK")</span></li>
                            <li class="free">
                            @{
                                var priceToFreeShipping = 499 - subtotal;
                                var text = priceToFreeShipping > 0
                                    ? @priceToFreeShipping + " DKK til gratis fragt"
                                    : "";
                                <p id="priceToFreeShipping" class="text-center small">@text</p>
                            }
                            </li>
                        <hr>
                        <li class="font-weight-bold">Pris i alt (inkl. moms) <span id="total" class="black">@total DKK</span></li>
                    </ul>
                    <a href="/checkout" class="primary-btn">Videre til kassen</a>
                </div>
                <br>
                <p class="font-italic text-center">Varerne er ikke reserverede før du går videre i købet</p>
            </div>
        </div>
    </div>
</section>
<!-- Shopping Cart Section End -->
