@using CrazyToys.Entities.Entities
@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<Shop>
@{
    Layout = "Master.cshtml";
    var categories = ViewData["Categories"] as List<Category>;
    var brands = ViewData["Brands"] as List<Brand>;
    var ageGroups = ViewData["AgeGroups"] as List<AgeGroup>;
    var colours = ViewData["Colours"] as List<Colour>;
    var toys = ViewData["Toys"] as List<Toy>;
}

<!-- Breadcrumb Section Begin -->
<section class="breadcrumb-option">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="breadcrumb__text">
                    <h4>Butik</h4>
                    <div class="breadcrumb__links">
                        <a href="/">Forside</a>
                        <span>Butik</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Breadcrumb Section End -->

<!-- Shop Section Begin -->
<section class="shop spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-3">
                <div class="shop__sidebar">
                    <div class="shop__sidebar__search">
                        <form action="#">
                            <input type="text" placeholder="Søg...">
                            <button type="submit"><span class="icon_search"></span></button>
                        </form>
                    </div>
                    <div class="shop__sidebar__accordion">
                        <div class="accordion" id="accordionExample">
                            <div class="card">
                                <div class="card-heading">
                                    <a data-toggle="collapse" data-target="#collapseOne">Kategorier</a>
                                </div>
                                <div id="collapseOne" class="collapse show" data-parent="#accordionExample">
                                    <div class="card-body">
                                        <div class="shop__sidebar__categories">
                                            <ul class="nice-scroll">
                                                @{
                                                    foreach (var category in categories)
                                                    {
                                                        <li><a href="#">@category.Name</a></li>
                                                    }
                                                }
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="card">
                                <div class="card-heading">
                                    <a data-toggle="collapse" data-target="#collapseTwo">Mærker</a>
                                </div>
                                <div id="collapseTwo" class="collapse show" data-parent="#accordionExample">
                                    <div class="card-body">
                                        <div class="shop__sidebar__brand">
                                            <ul>
                                                @{
                                                    foreach (var brand in brands)
                                                    {
                                                        <li class="chosen-brand"><a href="#">@brand.Name (@brand.Toys.Count)</a></li>
                                                    }
                                                }
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="card">
                                <div class="card-heading">
                                    <a data-toggle="collapse" data-target="#collapseThree">Filtrer Pris</a>
                                </div>
                                <div id="collapseThree" class="collapse show" data-parent="#accordionExample">
                                    <div class="card-body">
                                        <div class="shop__sidebar__price">
                                            <ul>
                                                <li><a href="#">0.00 - 50.00 DKK</a></li>
                                                <li><a href="#">50.00 - 100.00 DKK</a></li>
                                                <li><a href="#">100.00 - 150.00 DKK</a></li>
                                                <li><a href="#">150.00 - 200.00 DKK</a></li>
                                                <li><a href="#">200.00 - 250.00 DKK</a></li>
                                                <li><a href="#">250.00+ DKK</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="card">
                                <div class="card-heading">
                                    <a data-toggle="collapse" data-target="#collapseFour">Aldersgruppe</a>
                                </div>
                                <div id="collapseFour" class="collapse show" data-parent="#accordionExample">
                                    <div class="card-body">
                                        <div class="shop__sidebar__size">
                                             @{
                                                foreach (var ageGroup in ageGroups)
                                                {
                                                    <label class="hover" for="@ageGroup.ID">@ageGroup.Interval
                                                        <input type="radio" id="@ageGroup.ID">
                                                    </label>
                                                }
                                             }
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="card">
                                <div class="card-heading">
                                    <a data-toggle="collapse" data-target="#collapseFive">Farver</a>
                                </div>
                                <div id="collapseFive" class="collapse show" data-parent="#accordionExample">
                                    <div class="card-body">
                                        <div class="shop__sidebar__size">
                                            @{
                                                foreach (var colour in colours)
                                                {
                                                   <label class="hover" for="@colour.ID">@colour.Name
                                                        <input type="radio" id="@colour.ID">
                                                    </label>
                                                }
                                             }
                                        </div>
                                        <!--
                                        <div class="shop__sidebar__color">
                                            <label class="c-1" for="sp-1">
                                                <input type="radio" id="sp-1">
                                            </label>
                                            <label class="c-2" for="sp-2">
                                                <input type="radio" id="sp-2">
                                            </label>
                                            <label class="c-3" for="sp-3">
                                                <input type="radio" id="sp-3">
                                            </label>
                                        </div>
                                        -->
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-9">
                <div class="shop__product__option">
                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-sm-6">
                            <div class="shop__product__option__left">
                                <p>Viser 1–12 af 126 resultater</p>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6">
                            <div class="shop__product__option__right">
                                <p>Sorter efter pris:</p>
                                <select>
                                    <option value="">Lav til Høj</option>
                                    <option value="">Høj til Lav</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    @{
                        //foreach (var toy in toys)
                        for (int i = 0; i < 30; i++)
                        {
                            <div class="col-lg-4 col-md-6 col-sm-6">
                                <div class="product__item">
                                    <div class="product__item__pic set-bg" data-setbg="@toys[i].Images[0].UrlHigh">
                                        <a class="item-link" href="/Shop-Details"></a> 
                                        <!--/@toys[i].ID-->
                                        <ul class="product__hover">
                                            <li><a href="#"><img src="img/icon/search.png" alt=""></a></li>
                                            <li><a href="#"><img src="img/icon/heart.png" alt=""></a></li>
                                        </ul>
                                    </div>
                                    <div class="product__item__text">
                                        <h6>@toys[i].Name</h6>
                                        <a href="#" class="add-cart">+ Add To Cart</a>
                                        <h5>@toys[i].Price DKK</h5>
                                    </div>
                                </div>
                            </div>
                        }
                    }
                </div>
                <div class="row">
                    <div class="col-lg-12">
                        <div class="product__pagination">
                            <a class="active" href="#">1</a>
                            <a href="#">2</a>
                            <a href="#">3</a>
                            <span>...</span>
                            <a href="#">21</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Shop Section End -->