@using CrazyToys.Entities.DTOs
@using Umbraco.Cms.Web.Common.PublishedModels;
@using CrazyToys.Entities.Entities
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage
@{
    Layout = "Master.cshtml";
    Toy toy = ViewData["Toy"] as Toy;
    var wishlistToys = ViewData["WishlistToys"] as HashSet<string>;
    var relatedToys = ViewData["RelatedToys"] as List<ShopToyDTO>;
    var mostPopularToys = ViewData["MostPopularToys"] as List<ShopToyDTO>;
    var category = ViewData["Category"] as Category;

    string active = "active";
}

<!-- Shop Details Section Begin -->
<section class="shop-details">
    <div class="product-pic-div product__details__pic">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="product__details__breadcrumb">
                        <a href="/">Forside</a>
                        <a href="/shop?sort=price_asc">Butik</a>
                        <span>Produkt Detaljer</span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="image-style nice-scroll col-lg-3 col-md-3" ">
                    <ul class="ul-image-style nav nav-tabs" role="tablist">
                        @{
                        for (int i = 0; i < toy.Images.Count; i++)
                        {
                            <li class="nav-item">
                                <a class="nav-link @(i == 0 ? active : "")" data-toggle="tab" href="#tabs-@(i + 1)" role="tab">
                                    <div class="product__thumb__pic set-bg" data-setbg="@toy.Images[i].UrlHigh">
                                    </div>
                                </a>
                            </li>
                        }
                        }
                    </ul>
                </div>
                <div class="col-lg-6 col-md-9">
                    <div class="tab-content">
                        @{
                        for (int i = 0; i < toy.Images.Count; i++)
                        {
                            <div class="tab-pane @(i == 0 ? active : "")" id="tabs-@(i + 1)" role="tabpanel">
                                <a class="product__details__pic__item" data-fancybox="gallery" data-src="@toy.Images[i].UrlHigh">
                                    <img src="@toy.Images[i].UrlHigh" alt="">
                                </a>
                            </div>
                        }
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="product__details__content">
        <div class="container">
            <div class="row d-flex justify-content-center">
                <div class="col-lg-8">
                    <div class="product__details__text">

                        <h4>@toy.Name</h4>
                        <h3>@toy.Price DKK</h3>
                        <div class="product__details__cart__option">
                            <div class="quantity">
                                <div class="pro-qty">
                                    <span class="fa fa-angle-up inc qtybtn" onclick="incOrDecChosenAmount(@toy.Stock, true)"></span>
                                    <input id="chosenAmount" type="text" value="1">
                                    <span class="fa fa-angle-down dec qtybtn" onclick="incOrDecChosenAmount(@toy.Stock, false)"></span>
                                </div>
                            </div>
                            <button class="primary-btn" onclick='addToCart("@toy.ID")'>Tilføj til kurv</button>
                        </div>
                        <div id="shop-details-wishlist" class="product__details__btns__option">
                            @{
                                // alt efter om wishListen container toyId'et, skal den vise enten et fyldt eller tomt hjerte - så vi ændrer src'en alt efter om den er på eller ej
                                string src = wishlistToys.Contains(@toy.ID) ? "img/icon/filledheart.png" : "img/icon/heart.png";
                                <a id="wishlist-link-@toy.ID" href="javascript:void(0);" onclick='addToOrRemoveFromWishlist("@toy.ID")'><img class="shop-deatils-heart-icons wishlist-img-@toy.ID" src="@src" alt=""> Tilføj til ønskeliste</a>
                            }
                        </div>
                        <p>@toy.ShortDescription</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="product__details__tab product-details-tabs">
                        <ul class="nav nav-tabs" role="tablist">
                            <li class="nav-item">
                                <a class="nav-link" data-toggle="tab" href="#spec-tabs-5" role="tab">Beskrivelse</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" data-toggle="tab" href="#spec-tabs-6" role="tab">Specifikationer</a>
                            </li>
                        </ul>
                        <div class="tab-content">
                            <div class="tab-pane" id="spec-tabs-5" role="tabpanel">
                                <div class="product-details">
                                    <div class="product__details__tab__content__item">
                                        <h5>Produkt Beskrivelse</h5>
                                        <p>@toy.LongDescription</p>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane" id="spec-tabs-6" role="tabpanel">
                                <div class="product-details">
                                    <div class="product__details__tab__content__item">
                                        <h5>Produkt Specifikationer</h5>
                                        <div class="product__details__last__option">
                                            <ul>
                                                <li><span>Varenummer:</span> @toy.ProductId</li>
                                                <li><span>Mærke:</span> @toy.Brand.Name</li>
                                                <li><span>Kategori:</span> @toy.SubCategory.Name</li>
                                                <li><span>Farver:</span> @toy.Colours</li>
                                                <li><span>Anbefalet Alder:</span> @toy.AgeGroup</li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Shop Details Section End -->
<!-- Related Section Begin -->
<section class="@(relatedToys.Count == 0 ? "hidden" : "") related">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h3 class="related-title">Relaterede Produkter</h3>
            </div>
        </div>
        <div class="owl-carousel">
            @{
            for (int i = 0; i < relatedToys.Count; i++)
            {
                <div class="product__item item">
                    <div class="product__item__pic set-bg" data-setbg="@(relatedToys[i].Image ?? relatedToys[i].Name)">
                        <a class="item-link" href="/shop-details?id=@relatedToys[i].ID"></a>
                        <ul class="product__hover">
                            <li id="cart-il-@relatedToys[i].ID"><button id="cart-btn-@relatedToys[i].ID" class="shop-hover-btn" onclick='addToCart("@relatedToys[i].ID")'><img id="cart-icon-@relatedToys[i].ID" class="hover-icon" src="img/icon/cart.png" alt=""></button></li>
                            @{
                                // alt efter om wishListen container toyId'et, skal den vise enten et fyldt eller tomt hjerte - så vi ændrer src'en alt efter om den er på eller ej
                                src = wishlistToys.Contains(@relatedToys[i].ID) ? "img/icon/filledheart.png" : "img/icon/heart.png";
                                <li id="wishlist-il-@relatedToys[i].ID"><button id="wishlist-btn-@relatedToys[i].ID" class="shop-hover-btn" onclick='addToOrRemoveFromWishlist("@relatedToys[i].ID")'><img class="hover-icon wishlist-img-@relatedToys[i].ID" src="@src" alt=""></button></li>
                            }
                        </ul>
                    </div>
                    <div class="product__item__text remove-opacity">
                        <h6>@relatedToys[i].Name</h6>
                        <h5>@relatedToys[i].Price DKK</h5>
                    </div>
                </div>
            }
            }
        </div>
    </div>
</section>
<!-- Related Section End -->
<!-- Most popular Section Begin-->

<section class="@(mostPopularToys.Count == 0 ? "hidden" : "") related">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h3 class="related-title">Mest populære produkter fra kategorien @category.Name</h3>
            </div>
        </div>
        <div class="owl-carousel">
            @{
            for (int i = 0; i < mostPopularToys.Count; i++)
            {
                <div class="product__item item">
                    <div class="product__item__pic set-bg" data-setbg="@(mostPopularToys[i].Image ?? mostPopularToys[i].Name)">
                        <a class="item-link" href="/shop-details?id=@mostPopularToys[i].ID"></a>
                        <ul class="product__hover">
                            <li id="cart-il-@mostPopularToys[i].ID"><button id="cart-btn-@mostPopularToys[i].ID" class="shop-hover-btn" onclick='addToCart("@mostPopularToys[i].ID")'><img id="cart-icon-@mostPopularToys[i].ID" class="hover-icon" src="img/icon/cart.png" alt=""></button></li>
                            @{
                                // alt efter om wishListen container toyId'et, skal den vise enten et fyldt eller tomt hjerte - så vi ændrer src'en alt efter om den er på eller ej
                                src = wishlistToys.Contains(@mostPopularToys[i].ID) ? "img/icon/filledheart.png" : "img/icon/heart.png";
                                <li id="wishlist-il-@mostPopularToys[i].ID"><button id="wishlist-btn-@mostPopularToys[i].ID" class="shop-hover-btn" onclick='addToOrRemoveFromWishlist("@mostPopularToys[i].ID")'><img class="hover-icon wishlist-img-@mostPopularToys[i].ID" src="@src" alt=""></button></li>
                            }
                        </ul>
                    </div>
                    <div class="product__item__text remove-opacity">
                        <h6>@mostPopularToys[i].Name</h6>
                        <h5>@mostPopularToys[i].Price DKK</h5>
                    </div>
                </div>
            }
            }
        </div>
    </div>
</section>

<!-- Most popular Section End-->
