@using CrazyToys.Entities.DTOs
@using CrazyToys.Entities.Entities
@using CrazyToys.Entities.SolrModels
@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<Shop>
@{
    Layout = "Master.cshtml";
    var categories = ViewData["Categories"] as SortedDictionary<string, int>;
    var brands = ViewData["Brands"] as SortedDictionary<string, int>;
    var ageGroups = ViewData["AgeGroups"] as List<AgeGroup>;
    var colourGroups = ViewData["ColourGroups"] as List<ColourGroup>;
    var priceGroups = ViewData["PriceGroups"] as List<PriceGroup>;
    var shopToyDTOs = ViewData["ShopToyDTOs"] as List<ShopToyDTO>;
    var paramsDict = @Html.Raw(ViewData["ParamsDict"]); // http://localhost:44325/shop?brands=_brand.Barbie"
    var i = 0;

    // as Dictionary<string, HashSet<string>>

    Console.WriteLine("paramsDict" + paramsDict);
}




<!-- Breadcrumb Section Begin -->
<section class="breadcrumb-option">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="breadcrumb__text">
                    <h4>Butik</h4>
                    <div class="breadcrumb__links">
                        <a href="/">Forside</a>
                        <span>Butik</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Breadcrumb Section End -->
<!-- Shop Section Begin -->
<section class="shop spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-3">
                <div class="shop__sidebar">
                    <div class="shop__sidebar__search">
                        <form action="#">
                            <input type="text" placeholder="Søg...">
                            <button type="submit"><span class="icon_search"></span></button>
                        </form>
                    </div>
                    <div class="shop__sidebar__accordion">
                        <div class="accordion" id="accordionExample">
                            <div class="card">
                                <div class="card-heading">
                                    <a data-toggle="collapse" data-target="#collapseOne">Kategorier</a>
                                </div>
                                <div id="collapseOne" class="collapse show" data-parent="#accordionExample">
                                    <div class="card-body">
                                        <div class="shop__sidebar__categories">
                                            <ul class="nice-scroll">
                                                @{
                                                    foreach (KeyValuePair<string, int> category in categories)
                                                    {
                                                        <li><a href ="javascript:void(0);" onclick='createUrlFromParams(@paramsDict, "categories", "@category.Key")'>@category.Key (@category.Value)</a></li>
                                                    }
                                                }
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="card">
                                <div class="card-heading">
                                    <a data-toggle="collapse" data-target="#collapseTwo">Mærker</a>
                                </div>
                                <div id="collapseTwo" class="collapse show" data-parent="#accordionExample">
                                    <div class="card-body">
                                        <div class="shop__sidebar__brand">
                                            <ul id="ulBrand">
                                                @{
                                                    foreach (KeyValuePair<string, int> brand in brands)
                                                    {
                                                        <li class="chosen-brand"><a href ="javascript:void(0);" onclick='createUrlFromParams(@paramsDict, "brand", "\"@brand.Key\"")'>@brand.Key (@brand.Value)</a></li>
                                                    }
                                                }
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="card">
                                <div class="card-heading">
                                    <a data-toggle="collapse" data-target="#collapseThree">Filtrer Pris</a>
                                </div>
                                <div id="collapseThree" class="collapse show" data-parent="#accordionExample">
                                    <div class="card-body">
                                        <div class="shop__sidebar__price">
                                            <ul>
                                                @{
                                                    foreach (PriceGroup priceGroup in priceGroups)
                                                    {
                                                        <li><a href ="javascript:void(0);" onclick='createUrlFromParams(@paramsDict, "brands", "@priceGroup.Interval")'>@priceGroup.Interval DKK</a></li>
                                                    }
                                                }
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="card">
                                <div class="card-heading">
                                    <a data-toggle="collapse" data-target="#collapseFour">Aldersgruppe</a>
                                </div>
                                <div id="collapseFour" class="collapse show" data-parent="#accordionExample">
                                    <div class="card-body">
                                        <div class="shop__sidebar__size">
                                            @{
                                                i = 1;
                                                foreach (AgeGroup ageGroup in ageGroups)
                                                {
                                                    <label class="hover" for="@i">
                                                        @ageGroup.Interval
                                                        <input type="radio" id="@i">
                                                    </label>

                                                    i = i + 1;
                                                }
                                            }
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="card">
                                <div class="card-heading">
                                    <a data-toggle="collapse" data-target="#collapseFive">Farver</a>
                                </div>
                                <div id="collapseFive" class="collapse show" data-parent="#accordionExample">
                                    <div class="card-body">
                                        <div class="shop__sidebar__color">
                                            @{
                                                i = 1;
                                                foreach (ColourGroup colourGroup in colourGroups)
                                                {
                                                    <label title="@colourGroup.Name" class="c-@i" for="sp-@i" style="background: @colourGroup.ColourCode">
                                                        <input type="radio" id="sp-@i">
                                                    </label>

                                                    i = i + 1;
                                                }
                                            }
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-9">
                <div class="shop__product__option">
                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-sm-6">
                            <div class="shop__product__option__left">
                                <p>Viser 1–12 af 126 resultater</p>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6">
                            <div class="shop__product__option__right">
                                <p>Sorter efter pris:</p>
                                <select>
                                    <option value="">Lav til Høj</option>
                                    <option value="">Høj til Lav</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    @{
                        for (int j = 0; j < shopToyDTOs.Count; j++)//shopToyDTOs.Count > 29 ? 30 : shopToyDTOs.Count); j++)
                        {
                            <div class="col-lg-4 col-md-6 col-sm-6">
                                <div class="product__item">
                                   <div class="product__item__pic set-bg" data-setbg="@(shopToyDTOs[j].ImageUrl ?? shopToyDTOs[j].Name)">
                                        <a class="item-link" href="/shop-details?id=@shopToyDTOs[j].Id"></a>
                                
                                        <ul class="product__hover">
                                            <li><a href="#"><img src="img/icon/search.png" alt=""></a></li>
                                            <li><a href="#"><img src="img/icon/heart.png" alt=""></a></li>
                                        </ul>
                                    </div>
                                    <div class="product__item__text">
                                        <h6>@shopToyDTOs[j].Name</h6>
                                        <a href="#" class="add-cart">+ Add To Cart</a>
                                        <h5>@shopToyDTOs[j].Price DKK</h5>
                                    </div>
                                </div>
                            </div>
                        }
                    }
                </div>
                <div class="row">
                    <div class="col-lg-12">
                        <div class="product__pagination">
                            <a class="active" href="#">1</a>
                            <a href="#">2</a>
                            <a href="#">3</a>
                            <span>...</span>
                            <a href="#">21</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Shop Section End -->


<script src="~/scripts/shop.js"></script>
