@using CrazyToys.Entities.DTOs
@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<Wishlist>
@{
    Layout = "Master.cshtml";
    List<ShopToyDTO> wishlistToys = ViewData["wishlistToys"] as List<ShopToyDTO>;
    int numFound = wishlistToys.Count;
}

<!-- Breadcrumb Section Begin -->
<section class="breadcrumb-option">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="breadcrumb__text">
                    <h4>Ønskeliste</h4>
                    <div class="breadcrumb__links">
                        <a href="/">Forside</a>
                        <span>Ønskeliste</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Breadcrumb Section End -->
<!-- Wishlist Section Begin -->
<section class="shop spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="shop__product__option">
                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-sm-6">
                            <div class="shop__product__option__left">
                                <p>@(numFound > 0 ? "Du har " + numFound + " produkter på din ønskelisten" : "Du har ingen produkter på din ønskelisten")</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    @{
                        for (int j = 0; j < wishlistToys.Count; j++)//shopToyDTOs.Count > 29 ? 30 : shopToyDTOs.Count); j++)
                        {
                            <div class="col-lg-3 col-md-4 col-sm-6">
                                <div class="product__item">
                                    <div class="product__item__pic set-bg" data-setbg="@(wishlistToys[j].Image ?? wishlistToys[j].Name)">
                                        <a class="item-link" href="/shop-details?id=@wishlistToys[j].ID"></a>
                                        <ul class="product__hover">
                                            <li><button class="wishlist-btn" onclick='addOrRemoveFromWishlist("@wishlistToys[j].ID")'><img class="hover-icon" src="img/icon/close.png" alt=""></button></li>
                                        </ul>
                                    </div>
                                    <div class="product__item__text">
                                        <h6>@wishlistToys[j].Name</h6>
                                        <a href="#" class="add-cart">+ Tilføj Til Kurv</a>
                                        <h5>@wishlistToys[j].Price DKK</h5>
                                    </div>
                                </div>
                            </div>
                        }
                    }
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Wishlist Section End -->