@using CrazyToys.Web.Controllers
@model CrazyToys.Entities.DTOs.CheckoutUserModel;

@using (Html.BeginUmbracoForm<CheckoutSurfaceController>(nameof(CheckoutSurfaceController.Submit)))
{
            <h6 class="checkout__title">LEVERINGSADRESSE</h6>
            <div class="row">
                <div class="col-lg-6">
                    <div class="checkout__input">
                        <p>Fornavn<span>*</span></p>
                        @Html.TextBoxFor(m => m.FirstName, new { @placeholder = "Fx. Ole", @required  = "required", @class = "font-colour-black"})
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="checkout__input">
                        <p>Efternavn<span>*</span></p>
                        @Html.TextBoxFor(m => m.LastName, new { @placeholder = "Fx. Olesen", @required  = "required", @class = "font-colour-black"})
                    </div>
                </div>
            </div>
            <div class="checkout__input">
                <p>Land<span></span></p>
                @Html.TextBoxFor(m => m.CountryName, Model.CountryName = "Danmark", new { @readonly = "readonly", 
                @class = "country-background"})
            </div>
            <div class="checkout__input">
                <p>By<span>*</span></p>
                @Html.TextBoxFor(m => m.CityName, new { @placeholder = "Fx. København", @required  = "required", @class = "font-colour-black"})
            </div>
            <div class="checkout__input">
                <p>Adresse<span>*</span></p>
                @Html.TextBoxFor(m => m.StreetAddress, new { @placeholder = "Fx. Gothersgade 14", @required  = "required", @class = "font-colour-black"})
            </div>
            <div class="checkout__input">
                <p>Postnummer<span>*</span></p>
                @Html.TextBoxFor(m => m.PostalCode, new { @placeholder = "Fx. 1123", @required  = "required", @class = "font-colour-black"})
            </div>
            <div class="row">
                <div class="col-lg-6">
                    <div class="checkout__input">
                        <p>Tlf. nr.<span>*</span></p>
                        @Html.TextBoxFor(m => m.PhoneNumber, new { @placeholder = "Fx. 70206538", @required  = "required", @class = "font-colour-black"})
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="checkout__input">
                        <p>Email<span>*</span></p>
                        @Html.TextBoxFor(m => m.Email, new { @placeholder = "Fx. Ole@hotmail.dk", @required  = "required", @class = "font-colour-black"})
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="checkout__input">
                        <p>Jeg giver CrazyToys samtykke til at gemme mine kontaktoplysninger<span>*</span></p> 
                        @Html.CheckBox("Accepted", false, new { @required = "required", @class = "max-height-width-20"})
                    </div>
                </div>
            </div>
             <button type="submit" class="site-btn" style="width:750px">KØB NU</button>
}


